
html {
  scroll-behavior: smooth;
}

/* CONTENT */
/*
Template Name: Blvck - Personal vCard & Resume Template
Version: 1.0
Author: PxlSolutions
Author URI: http://themeforest.net/user/pxlsolutions
Description: CV, Resume, vCard HTML Template

[TABLE OF CONTENTS]

01. Global Styles
02. Preloader
03. Layout
04. Header
05. Main Content
08. Section Resume
09. Section Works
10. Section Testimonials
11. Section Blog
12. Section Customers
13. Section Contact
14. Other Elements
15. Responsive
*/
/*-----------------------------------------------------------------*/
/*                      GLOBAL STYLES                              */
/*-----------------------------------------------------------------*/
body {
  color: #1a1a1a;
  background-color: #fafdff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding-left: 15px;
}

li {
  padding: 0 0 10px;
}


/*-----------------------------------------------------------------*/
/*                      LAYOUT                                     */
/*-----------------------------------------------------------------*/
.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* === Navigation === */
.header .main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header .main-nav ul li {
  padding-bottom: 15px;
}

.header .main-nav ul li a {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.header .main-nav ul li a:hover,.header .main-nav ul li a:focus {
  color: #FFF;
  text-decoration: none;
}




/*-----------------------------------------------------------------*/
/*                      MAIN CONTENT                               */
/*-----------------------------------------------------------------*/
.main-content {
  background: rgb(150, 116, 116);
  width: 740px;
}

.main-content p {
  color: #2c2c2c;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

/* === Section Configure === */
.main-content section {
  padding: 60px 40px;
  position: relative;
  border-bottom: solid 1px rgb(182, 95, 95);
}

/* === Section Header === */
.main-content section .section-header {
  margin-bottom: 40px;
  position: relative;
}

.main-content section .section-header h2 {
  color: #f74470;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
letter-spacing: 3px;
  margin: 0;
  text-transform: uppercase;
  position: relative;

}

/*-----------------------------------------------------------------*/
/*                      SECTION ABOUT                              */
/*-----------------------------------------------------------------*/
.about .intro ul.info {
  margin-top: 40px;
  padding: 0;
  list-style: none;
}

.about .intro ul.info li {
  
  padding: 7px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #0C0C0C;
  font-size: 14px;
}



.about .intro ul.info li:first-child {
  padding-top: 0;
}

.about .intro p {
  margin: 0;
}

.about .skills .item {
  margin-top: 40px;
}

.about .skills .item .skill-info {
  margin-bottom: 30px;
}

.about .skills .item .skill-info h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
}

.about .skills .item .skill-info span {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #9C9C9C;
}
.about .resume-download {
  display: block;
  position: absolute;
  right: 0;
  top: -12px;
  background: #5655da;
font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
}


/* === Progress Bar === */
.progress {
  height: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #E0E0E0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 1px;
  color: #fff;
  text-align: center;
  background-color: #f74470;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

/* === Form Control === */
.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-bottom: solid 1px #0C0C0C;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #C7C7C7;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-group {
  margin-bottom: 25px;
}

/* === Owl Configure === */
.owl-theme .owl-controls .owl-page span {
  width: 10px;
  height: 10px;
  margin: 5px 3px;
  filter: Alpha(Opacity=20);
  opacity: .2;
  background: #f8557d;
}

.owl-theme .owl-controls {
  margin-top: 30px;
}

/*-----------------------------------------------------------------*/
/*                      RESPONSIVE                                  */
/*-----------------------------------------------------------------*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .works .item-outer .mix {
      width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .wrapper {
      width: 100%;
  }

  .header {
      -ms-transform: translateX(-260px);
      -webkit-transform: translateX(-260px);
      transform: translateX(-260px);
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }

  .pushed {
      -ms-transform: translateX(0);
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }

  .main-content {
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
  }

  .main-pushed {
      -ms-transform: translateX(260px);
      -webkit-transform: translateX(260px);
      transform: translateX(260px);
  }
  .works .item-outer .item {
      height: 280px;
  }
}

@media only screen and (max-width: 767px) {
  .welcome {
      padding: 60px !important;
  }

  .welcome .quote {
      width: initial;
  }

  .facts .fact-item {
      margin-bottom: 20px;
  }

  .resume .resume-item {
      margin-top: 30px !important;
  }

  .blog .item .text {
      margin-top: 25px;
  }
}

@media only screen and (max-width: 480px) {
  .main-content section {
      padding: 60px 30px;
  }
}

@media only screen and (max-height: 600px) {
  .header .name {
      margin: 15px 0;
  }

  .header .main-nav ul li {
      padding-bottom: 10px;
  }

  .header .social-icons {
      margin: 0 0 15px;
  }

  .header .copyright {
      bottom: -18px;
      position: relative;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  
  
}